<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Upload File</title>
</head>
<body>
    <div class="navigation-buttons">
        <a href="/" class="button">Home</a>
        <a href="/view" class="button">View Files</a>
    </div>

    <h1>Upload a File</h1>
    
    <div class="form-container">
        <form action="/upload" method="post" enctype="multipart/form-data">
            <label for="file">Choose a file:</label>
            <input type="file" name="file" id="file">
            <br><br>
            <label for="option">Choose an option:</label>
            <select name="option" id="option">
                <option value="store">Store</option>
                <option value="process">Process</option>
            </select>
            <br><br>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>
