<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>View Files</title>
</head>
<body>
    <div class="navigation-buttons">
        <a href="/" class="button">Home</a>
        <a href="/upload" class="button">Upload File</a>
    </div>

    <h1>View Files</h1>
    
    <div class="list-container">
        <h2>Uploaded Files:</h2>
        <ul>
            {% for file in uploaded_files %}
                <li>
                    <div class="file-entry">
                        <span class="file-link">
                            <a href="/download/uploaded/{{ file }}">{{ file }}</a>
                            <a href="/delete/{{ file }}" class="button-link">Delete</a>
                            <a href="/download/uploaded/{{ file }}" class="button-link">Download</a>
                            <a href="/process_uploaded/{{ file }}" class="button-link">Process</a>
                        </span>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <h2>Processed Files:</h2>
        <ul>
            {% for file in processed_files %}
                <li>
                    <div class="file-entry">
                        <span class="file-link">
                            <a href="/download/processed/{{ file }}">{{ file }}</a>
                            <a href="/delete/{{ file }}" class="button-link">Delete</a>
                            <a href="/download/processed/{{ file }}" class="button-link">Download</a>
                        </span>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
